<div class="col-md-offset-1 col-md-10">
  <div class="blog-article">
    <div class="blog-article-thumbnail">
      <!--<a href="blog-post-no-sidebar.html"><img src="images/blog/image-15.jpg" alt=""></a>-->
      <%= link_to image_tag(@blog.image.url(:med)) unless @blog.nil? %>
    </div><!-- blog-article-thumbnail -->
    <a class="date" href="#"><%= blog.display_day_published %></a>
    <h4 class="blog-article-title"><%= link_to blog.title, blog %></h4>
    <p><h6><%= raw blog.tags.map{ |t| link_to t.name, blogs_path(tag: t.name) }.join(', ') %></h6></p>
    <div class="blog-article-content">
      <p><%= truncate(blog.description, length: 130) %></p>
      <!--<a href="blog-post-no-sidebar.html">Read more</a>-->
      <%= link_to 'Read More', blog %>
    </div><!-- blog-article-content -->
  </div>
</div>