<!DOCTYPE html>
<html>
<head>

</head>

<body class="sticky-header">

<div id="main container">

  <!-- PAGE CONTENT -->
  <div id="page-content">

    <div class="rev_slider_wrapper">
      <div class="rev_slider" data-version="5.0">
        <ul>
          <li data-transition="fade" data-thumb="images/index/revolution-slider/bg-slide-1.jpg">

            <!-- <img src="images/index/revolution-slider/bg-slide-1.jpg" alt=""> -->
            <%= link_to(image_tag("index/revolution-slider/bg-slide-1.jpg"), "/") %>

            <div class="tp-caption"
                 data-x="50"
                 data-y="bottom"
                 data-voffset="-150"
                 data-start="1000"
                 data-transform_in="o:0;y:100;s:500;e:Power2.easeInOut;"
                 data-transform_out="o:0;y:100;s:500;e:Power2.easeInOut;">
              <!-- <img src="images/index/revolution-slider/slide-1-image-1.png" alt=""> -->
              <%= link_to(image_tag("index/image-1.png"), "/") %>
            </div>

            <div class="tp-caption"
                 data-x="400"
                 data-y="0"
                 data-start="1000"
                 data-transform_in="o:0;y:-100;s:500;e:Power2.easeInOut;"
                 data-transform_out="o:0;y:-100;s:500;e:Power2.easeInOut;">
              <!-- <img src="images/index/revolution-slider/slide-1-image-2.png" alt=""> -->
              <%= link_to(image_tag("index/image-2.png"), "/") %>
            </div>

            <div class="tp-caption"
                 data-x="0"
                 data-y="center"
                 data-start="1000"
                 data-transform_in="o:0;x:-100;s:500;e:Power2.easeInOut;"
                 data-transform_out="o:0;x:-100;s:500;e:Power2.easeInOut;">
              <!-- <img src="images/index/revolution-slider/slide-1-image-4.png" alt=""> -->
              <%= link_to(image_tag("index/image-3.png"), "/") %>
            </div>

            <div class="tp-caption"
                 data-x="right"
                 data-y="bottom"
                 data-hoffset="250"
                 data-voffset="150"
                 data-start="1000"
                 data-transform_in="o:0;sX:0.7;sY:0.7;s:500;e:Power2.easeInOut;"
                 data-transform_out="o:0;sX:0;sY:0;s:500;e:Power2.easeInOut;">
              <!-- <img src="images/index/revolution-slider/slide-1-image-3.png" alt=""> -->
              <%= link_to(image_tag("index/image-4.png"), "/") %>
            </div>

            <div class="tp-caption"
                 data-x="right"
                 data-y="top"
                 data-start="1000"
                 data-transform_in="o:0;x:100;s:500;e:Power2.easeInOut;"
                 data-transform_out="o:0;x:100;s:500;e:Power2.easeInOut;">
              <!-- <img src="images/index/revolution-slider/slide-1-image-5.png" alt=""> -->
              <%= link_to(image_tag("index/image-5.png"), "/") %>
            </div>

            <div class="tp-caption title-big-white"
                 data-x="center"
                 data-y="center"
                 data-start="1200"
                 data-transform_in="o:0;sX:0.7;sY:0.7;s:500;e:Power2.easeInOut;"
                 data-transform_out="o:0;sX:0;sY:0;s:500;e:Power2.easeInOut;">
              Relax <br> &amp; <br> enjoy
            </div>

          </li>
          <li data-transition="fade" data-thumb="images/index/revolution-slider/bg-slide-2.jpg">

            <!-- <img src="images/index/revolution-slider/bg-slide-2.jpg" alt=""> -->
            <%= link_to(image_tag("index/revolution-slider/bg-slide-2.jpg"), "/") %>

            <div class="tp-caption"
                 data-x="center"
                 data-y="bottom"
                 data-start="1000"
                 data-transform_in="o:0;y:100;s:500;e:Power2.easeInOut;"
                 data-transform_out="o:0;y:100;s:500;e:Power2.easeInOut;">
              <!-- <img src="images/index/revolution-slider/slide-2-image-1.png" alt=""> -->
              <%= link_to(image_tag("index/image-6.png"), "/") %>
            </div>

            <div class="tp-caption title-white-bold text-center"
                 data-x="center"
                 data-y="center"
                 data-start="1200"
                 data-transform_in="o:0;y:-100;s:500;e:Power2.easeInOut;"
                 data-transform_out="o:0;y:-100;s:500;e:Power2.easeInOut;">
              The ultimate <br> spa experience
            </div>

          </li>
        </ul>
      </div><!-- rev_slider_wrapper -->
    </div><!-- rev_slider -->

    <div class="container">
      <div class="row">
        <div class="col-md-5 text-center">

          <div class="wow zoomIn" data-wow-offset="200">
            <%= link_to(image_tag("index/image-22.jpg"), "/") %>
          </div>

        </div><!-- col -->
        <div class="col-md-7">

          <br><br><br>

          <h3>Relax &amp; Enjoy a unique personal <br class="visible-sm-block"> experience at the SPA</h3>

          <div class="row">
            <div class="col-md-9">

              <h5><strong>All you need is Halcyon , modern and simple. <br class="visible-sm-block">
                Equipted with all the elements you need.</strong></h5>

              <br>

              <p>Feugiat consequat eu sed eros. Cras suscipit eu est sed imperdiet. Curabitur ultrices
                dolor magna, at vene natis lacus rutrum nec. Quisque elit velit, lacinia sit amet tellus at,
                auctor suscipit metus. Duis congue nibh at tortor ornare, sed commo do ipsum mattis.
                Phasellus lacinia sed purus eget rhoncus.</p>

              <br>

              <a class="btn btn-default-1 waves" href="#">Discover</a>

            </div><!-- col -->
          </div><!-- row -->

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->

    <section class="full-section" id="section-29">
      <div class="full-section-container">

        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">

              <h6 class="testimonial-title">Happy Clients</h6>

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->

        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <div class="testimonial">

                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis dolor. Cras
                    placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</p>
                </blockquote>

                <h5>John Turner, <span>wp maniac</span></h5>

              </div><!-- testimonial -->

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->

      </div><!-- full-section-container -->
    </section><!-- full-section -->

    <section class="full-section half-image" id="section-30">

      <div class="half-image-right wow fadeInRight" data-wow-offset="200" style="background-image: url(<%= asset_path 'index/image-23.jpg' %>)">

        <%= link_to(image_tag("index/image-23.jpg"), "/") %>

      </div><!-- half-image-left -->

      <div class="full-section-container">

        <div class="container">
          <div class="row">
            <div class="col-md-4">

              <div class="title">

                <h3>Masage &amp; Therapy</h3>

              </div><!-- headline -->

              <h5><strong>Modern and simple. Equipted with all the elements you need.</strong></h5>

              <br>

              <p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed
                imperdiet. Curabitur ultrices dolor magna, at vene natis lacus rutrum nec. Quisque elit
                velit, lacinia sit amet tellus at, auctor sus cipit metus. Duis congue nibh at tortor ornare,
                sed commo do ipsum mattis. Phasellus lacinia sed purus eget rhoncus. Mauris ut tortor
                efficitur, vestibulum magna nec, rhoncus neque.</p>

              <br>

              <a class="btn btn-default-1 waves" href="#">Discover</a>

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->

      </div><!-- full-section-container -->
    </section><!-- full-section -->

    <section class="full-section half-image" id="section-31">

      <div class="half-image-left wow fadeInLeft" data-wow-offset="200" style="background-image: url(<%= asset_path 'index/image-24.jpg' %>)">

        <%= link_to(image_tag("index/image-24.jpg"), "/") %>

      </div><!-- half-image-left -->

      <div class="full-section-container">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-8 col-md-4">

              <div class="title">

                <h3>Relax in the Hot tub</h3>

              </div><!-- headline -->

              <h5><strong>Modern and simple. Equipted with all the elements you need.</strong></h5>

              <br>

              <p>Aenean laoreet elit quis elit tincidunt, id porta urna molestie. Aliquam ut turpis
                facilisis, lobortis diam sit amet, accumsan justo. Suspendisse potenti. Proin mattis sed
                lectus eu facilisis. Praesent convallis erat ac metus varius commodo. Proin sit amet
                consequat risus, vitae facilisis libero. Sed viverra vehicula mi id porta. In malesuada
                volutpat lacus ut egestas. Proin ac interdum tellus.</p>

              <br>

              <a class="btn btn-default-1 waves" href="#">Discover</a>

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->

      </div><!-- full-section-container -->
    </section><!-- full-section -->

    <section class="full-section half-image" id="section-32">

      <div class="half-image-right wow fadeInRight" data-wow-offset="200" style="background-image: url(<%= asset_path 'index/image-25.jpg' %>)">

        <%= link_to(image_tag("index/image-25.jpg"), "/") %>

      </div><!-- half-image-left -->

      <div class="full-section-container">

        <div class="container">
          <div class="row">
            <div class="col-md-4">

              <div class="title">

                <h3>Spa Treatments</h3>

              </div><!-- headline -->

              <h5><strong>Modern and simple. Equipted with all the elements you need.</strong></h5>

              <br>

              <p>Pellentesque eget mollis quam. Quisque sit amet convallis massa, in blandit massa. Donec
                fermentum tincidunt placerat. Sed facilisis nisi vel vehicula tempor. Donec efficitur eros
                augue, et pulvinar eros scelerisque in. Integer neque metus, aliquet non eleifend vel, auctor
                quis enim. Aliquam ac elementum sapien. In rutrum ligula vel facilisis aliquam. Curabitur et
                vestibulum quam, non luctus ipsum.</p>

              <br>

              <a class="btn btn-default-1 waves" href="#">Discover</a>

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->

      </div><!-- full-section-container -->
    </section><!-- full-section -->

    <br><br><br>

  </div><!-- PAGE CONTENT -->


  <!-- FOOTER -->
  <footer id="footer-container">

    <div id="footer" class="default-color">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div class="widget widget-social">

              <div class="social-media text-center">

                <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>

              </div><!-- social-media -->

            </div><!-- widget-social -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- footer -->

    <div id="footer-bottom">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div class="widget widget-text">

              <div class="text-center">

                <!--<img src="assets/images/footer-logo.png" alt="">-->

                <p><small>2017 &copy; All rights reserved</small></p>

              </div>

            </div><!-- widget-text -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- footer-bottom -->

  </footer><!-- FOOTER CONTAINER -->

</div><!-- MAIN CONTAINER -->
</body>
</html>