<%= form_for blog, url: url, html: { multipart: true } do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: :blog_title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, id: :blog_body, :class => "tinymce", :rows => 40, :cols => 120 %>
    <input name="image" type="file" id="upload" class="hidden" onchange="">
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, id: :blog_description %>
  </div>

  <div class="field">
    <%= f.label 'Tags' %>
    <%= f.text_area :tag_list %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
